{% load static %}

<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
<head>
    <title>University DailyLife Wingman - Delivery system</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../../static/auctions/styles.css" rel="stylesheet">

    {% block script %}
    {% endblock %}

</head>
<body>
    <h1>University DailyLife Wingman - Delivery system</h1>
    <div>
        {% if user.is_authenticated %}
        Signed in as <strong>{{ user.username }}</strong>.
        {% else %}
        Not signed in.
        {% endif %}
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Active Listing</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create_listing' %}" id="link_create">Create Listing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'my_listing' %}" id="link_mine">My Listing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'watch_list' %}" id="link_watch">Watchlist</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'winning_listing' %}" id="link_winning">Winninglist</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'categories' %}" id="link_categories">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}" id="link_out">Log Out</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Log In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        {% endif %}
    </ul>
    <hr>
        <a class="nav-link" href="{% url 'index' %}">Home</a>

    {% block body %}
    {% endblock %}
</body>
</html>
