{% extends "./index.html" %}

{% block sports_summary %}
<style type="text/css">
    .w-16{
        width:16%;
    }
    .w-33{
        width:33%;
    }
    .w-66{
        width:66%;
    }
    .w-83{
        width:83%;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-eight">
                    <div class="stat-header">
                        <div class="header-title pull-left">Basketball</div>
                        <div class="card-header-right-icon">
                            <ul>
                                <li><a href="{% url 'sportsindex' %}"><i class="ti-reload"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="stat-content">
                        <div class="pull-left">
                            <i class="ti-basketball" style="font-size:30px; color:#e77a16;"></i>
                            <span class="stat-digit m-l-60">{{num_basketball}} / 4</span>
                        </div>
                        <div class="pull-right">
                            <span class="progress-stats">{{per_basketball}}%</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary w-{{per_basketball}}" role="progressbar" aria-valuenow="{{per_basketball}}" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">{{per_basketball}}% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-eight">
                    <div class="stat-header">
                        <div class="header-title pull-left">Badminton</div>
                        <div class="card-header-right-icon">
                            <ul>
                                <li><a href="{% url 'sportsindex' %}"><i class="ti-reload"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="stat-content">
                        <div class="pull-left">
                            <i class="ti-crown" style="font-size:30px; color:#ffb700;"></i>
                            <span class="stat-digit m-l-60">{{num_badminton}} / 6</span>
                        </div>
                        <div class="pull-right">
                            <span class="progress-stats">{{per_badminton}}%</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success w-{{per_badminton}}" role="progressbar" aria-valuenow="{{per_badminton}}" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">{{per_badminton}}% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-eight">
                    <div class="stat-header">
                        <div class="header-title pull-left">Table Tennis</div>
                        <div class="card-header-right-icon">
                            <ul>
                                <li><a href="{% url 'sportsindex' %}"><i class="ti-reload"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="stat-content">
                        <div class="pull-left">
                            <i class="ti-flag-alt" style="font-size:30px; color:red;"></i>
                            <span class="stat-digit m-l-60"> {{num_table_tennis}} / 6</span>
                        </div>
                        <div class="pull-right">
                            <span class="progress-stats">{{per_table_tennis}}%</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning w-{{per_table_tennis}}" role="progressbar" aria-valuenow="{{per_table_tennis}}" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">{{per_table_tennis}}% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-eight">
                    <div class="stat-header">
                        <div class="header-title pull-left">Billiard</div>
                        <div class="card-header-right-icon">
                            <ul>
                                <li><a href="{% url 'sportsindex' %}"><i class="ti-reload"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="stat-content">
                        <div class="pull-left">
                            <i class="ti-medall" style="font-size:30px; color:gold;"></i>
                            <span class="stat-digit m-l-60"> {{num_billiard}} /6</span>
                        </div>
                        <div class="pull-right">
                            <span class="progress-stats">{{per_billiard}}%</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success w-{{per_billiard}}" role="progressbar" aria-valuenow="{{per_billiard}}" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">{{per_billiard}}% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block deli %}

<div class="card alert">
                                <div class="order-list-item">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Receiver</th>
                                                <th>Detailed Express ID</th>
                                                <th>Position</th>
                                                <th>Express Inc.</th>
                                                <th>Fetching ID</th>
                                                <th>Fetching Time</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>


                                        <tbody>
                                             {% for delivery in deliveries %}
                                            <tr>
                                                <td><a href="#"><strong>{{delivery.receiver}}</strong></a></td>
                                                <td>#100654800{{delivery.pk}}</td>
                                                <td>{{delivery.description}}</td>
                                                <td><button type="button" class="btn btn-primary btn-rounded">{{delivery.corporation}}</button></td>
{% if delivery.detail_number != 0%}
                                                <td><button type="button" class="btn btn-primary btn-rounded">{{delivery.detail_number}}</button></td>
{% else %}                                                <td><button type="button" class="btn btn-default btn-rounded">{{delivery.detail_number}}</button></td>

                                                {% endif%}
                                                   <td>{{delivery.arrive_time}}
                                                </td>
 {% if delivery.status.pk == 2%}
                                                <td style="text-align: center;"><button type="button" class="btn btn-success btn-rounded">{{delivery.status}}</button></td>
  {% elif delivery.status.pk == 1 %}         <td style="text-align: center;"><button type="button" class="btn btn-warning btn-rounded">{{delivery.status}}</button></td>
  {% elif delivery.status.pk == 4 %}         <td style="text-align: center;"><button type="button" class="btn btn-dark btn-rounded">{{delivery.status}}</button></td>

                                                {%else%}                                                <td style="text-align: center;"><button type="button" class="btn btn-danger btn-rounded">{{delivery.status}}</button></td>

                                            {%endif%}</tr>
                                                {% empty %}
<p>     There is no waiting delivery currently.</p>
    {% endfor %}
                                        </tbody>
                                    </table>
                                </div>


</div>

{% endblock %}