{% extends "./layout.html" %}

{% block chat %}
<ul class="list-group">
    {% for chat in chats %}
    <div class="list-group-item list-group-item-action flex-column align-items-start" style="height:150%;">
        <div class="d-flex w-100 justify-content-between" style="text-align:right;height:10px;"><small class="text-muted">{{chat.created}}</small>
        </div>
        <div><h6 class="mb-1" style="color:blue">User: {{chat.user.username}}</h6><img src="{{chat.user.avatar}}"><p class="mb-1">{{chat.text}}            </p>
        </div>
    </div>

    {% endfor %}
</ul>

    {% if user.is_authenticated %}
    <form action="{% url 'chats' %}" method="POST">
        {% csrf_token %}
        <textarea class="form-control" id="comment-body" placeholder="Write your opinions here.." , name="chat_text"></textarea>
        <input class="btn btn-secondary btn-sm" type="submit" value="Add Chat">
    </form>

    {% endif %}


{% endblock %}