{% extends "sports/layout.html" %}

{% block body %}
<h2>Chatting RooM</h2>

<ul class="list-group">
    {% for chat in chats %}
    <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">User: {{chat.user.username}}</h5>
            <small class="text-muted">{{chat.created}}</small>
        </div>
        <p class="mb-1">{{chat.text}}</p>
    </div>
    {% endfor %}
</ul>

    {% if user.is_authenticated %}
<form action="{% url 'chats' %}" method="post">
    {% csrf_token %}
    <textarea class="form-control" id="comment-body" placeholder="Write your opinions here.." , name="chat_text"></textarea>
    <input class="btn btn-secondary btn-sm" type="submit" value="Add Chat">
</form>
    {% endif %}


{% endblock %}