{% extends "./layout.html" %}

{% block basketball %}
    <div class="col-lg-6">
        <div class="card alert">
            <div class="card-header">
                <h4>Basketball </h4>
<!--                <div class="card-header-right-icon">-->
<!--                    <ul>-->
<!--                        <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>-->
<!--                        <li class="card-option drop-menu"><i class="ti-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="link"></i>-->
<!--                            <ul class="card-option-dropdown dropdown-menu">-->
<!--                                <li><a href="#"><i class="ti-loop"></i> Update data</a></li>-->
<!--                                <li><a href="#"><i class="ti-menu-alt"></i> Detail log</a></li>-->
<!--                                <li><a href="#"><i class="ti-pulse"></i> Statistics</a></li>-->
<!--                                <li><a href="#"><i class="ti-power-off"></i> Clear ist</a></li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li class="doc-link"><a href="#"><i class="ti-link"></i></a></li>-->
<!--                    </ul>-->
<!--                </div>-->
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Kolor Tea Shirt For Man</td>
                                <td><span class="badge badge-primary">Sale</span></td>
                                <td>January 22</td>
                                <td class="color-primary">$21.56</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Kolor Tea Shirt For Women</td>
                                <td><span class="badge badge-success">Tax</span></td>
                                <td>January 30</td>
                                <td class="color-success">$55.32</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Blue Backpack For Baby</td>
                                <td><span class="badge badge-danger">Extended</span></td>
                                <td>January 25</td>
                                <td class="color-danger">$14.85</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block badminton %}
    <div class="col-lg-6">
        <div class="card alert">
            <div class="card-header">
                <h4>Table Basic </h4>
                <div class="card-header-right-icon">
                    <ul>
                        <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                        <li class="card-option drop-menu"><i class="ti-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="link"></i>
                            <ul class="card-option-dropdown dropdown-menu">
                                <li><a href="#"><i class="ti-loop"></i> Update data</a></li>
                                <li><a href="#"><i class="ti-menu-alt"></i> Detail log</a></li>
                                <li><a href="#"><i class="ti-pulse"></i> Statistics</a></li>
                                <li><a href="#"><i class="ti-power-off"></i> Clear ist</a></li>
                            </ul>
                        </li>
                        <li class="doc-link"><a href="#"><i class="ti-link"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Kolor Tea Shirt For Man</td>
                                <td><span class="badge badge-primary">Sale</span></td>
                                <td>January 22</td>
                                <td class="color-primary">$21.56</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Kolor Tea Shirt For Women</td>
                                <td><span class="badge badge-success">Tax</span></td>
                                <td>January 30</td>
                                <td class="color-success">$55.32</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Blue Backpack For Baby</td>
                                <td><span class="badge badge-danger">Extended</span></td>
                                <td>January 25</td>
                                <td class="color-danger">$14.85</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




{% block body %}
    <h2>The sportfields</h2>

    {% for sportfield in sportfields %}
    <div style="clear: left; float:none; margin-bottom:150px;">
        <img style="float:left; margin-right:60px" src="media/{{sportfield.image}}" width="200" height="200">

        <p>

            <span style="font-weight: bold">
                <a>{{sportfield.name}}</a>
            </span>
            <br>
            <span style="font-weight: bold">Price:</span>RMB
            {{sportfield.price}}
        </p>
        <br>
        {{sportfield.type}}
        {% if user.is_authenticated %}
        {% if sportfield.active %}
        <form action="{% url 'appoint' sportfield.pk %}" method="post">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Appoint">
        </form>
        {% else %}
        <form action="{% url 'deappoint' sportfield.pk %}" method="post">
            {% csrf_token %}
            <input class="btn btn-secondary btn-smy" type="submit" value="End">
        </form>

        {%endif%}

        {%if sportfield.cur_user is None%}
        <p style="color:cadetblue">This field is availiable now. </p>
        {% elif sportfield.cur_user.pk == request.user.pk %}
        <strong><p style="color:red">Current User: You </p></strong>

        {% else %}
        <p style="color:red">Current User: {{sportfield.cur_user}} </p>
        {%endif%}


        {% else %}
        <br>
        <a style="color:indianred" href="{% url 'login' %}">Log in to check the current status of this field.</a>
        {% endif %}
    </div>



    {% empty %}
        <p>There is no sportfields.</p>
    {% endfor %}

{% endblock %}