{% extends "../index.html" %}

{% block trade_item %}
<div class="row">
    {% for auction in auctions %}
    <div class="col-lg-4">
        <div class="card" style="width:400px;height:300px;">
            <div class="shopping-card" align="center" style="height:50%;">
                {% if auction.article_image != "" %}

                <img sclass="img-responsive" src="{{auction.article_image}}" alt="" style="width:50%;" >

                {% else %}
                <img class="img-responsive" src="media/{{auction.image}}" alt="">
                {% endif%}
            </div>
            <div class="shopping-card-text text-center">
                <h4>{{auction.title}}</h4>
                <p>{{auction.description}}</p>
            </div>
            <div class="text-center p-t-30 p-b-20">
                <a href="{% url 'listed_article' auction.pk %}" class="btn btn-primary bg-primary btn-outline">Shop Now</a>
                <span class="p-10 color-danger f-w-400" style="color:blue;">
                    {{auction.current_highest_price}}
                </span>|
                <span class="p-10 color-danger f-w-400" style="color:red;">
                    {{auction.initial_price}}
                </span>
            </div>
        </div>
    </div>

        {% if auction.final_buyer%}
        <p style="color:red">Sold to: {{auction.final_buyer.username}} </p>
        {%endif%}



    {% empty %}
<!--        <p>There is no active listing</p>-->
    {% endfor %}
</div>
{% endblock %}


{% block body %}
<h2>{{title}}</h2>

    {% for auction in auctions %}
<div style="clear: left; float:none; margin-bottom:150px;">
    {% if auction.article_image != "" %}
    <img style="float:left; margin-right:60px" src="{{auction.article_image}}" width="200" height="200">
    {% else %}
    <img style="float:left; margin-right:60px" src="media/{{auction.image}}" width="200" height="200">
    {% endif%}
    <div>
        <p>
            <span style="font-weight: bold">
                <a href="{% url 'listed_article' auction.pk %}">{{auction.title}}</a>
            </span>
            <br>
            <span style="font-weight: bold">Initial Price:</span>RMB
            {{auction.initial_price}}
            <br>
            <span style="font-weight: bold">Current Highest Price:</span>RMB
            {{auction.current_highest_price}}
            <br>

            {{auction.description}}
        </p>

        {% if auction.final_buyer%}
        <p style="color:red">Sold to: {{auction.final_buyer.username}} </p>
        {%endif%}

    </div>
</div>

    {% empty %}
        <p>There is no active listing</p>
    {% endfor %}

{% endblock %}

{% block 123 %}
    <span>hello</span>
{% endblock %}